.Card {
    position: relative;
    width: 100px;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s, opacity 0.5s;
}
.frame-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 170px;
    margin: -35px;
    margin-top: -18px;
    pointer-events: none;
}

.character-image {
    width: 80px;
    height: 120px;
    z-index: 1;
    margin-top: 8px;
}

.Card p {
    margin: 0;
    margin-top: 10px;
}
.Card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    right: 0;
    left: 0;
    position: absolute;
    gap:40px
}
img {
    height: 40px;
    width: 25px;

}
.Card:active {
    box-shadow: 3px 3px 2px rgba(200, 225, 11, 0.995);
}
.ScoreBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}
